@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
	box-sizing: border-box;
}

html {
	font-size: calc(4px + 0.45vw);
	scroll-behavior: smooth;
}


body {
	font-family: 'Montserrat', sans-serif;
	color: #131313;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
}

/* Gaya untuk bilah scroll vertikal */
::-webkit-scrollbar {
	width: 10px;
	/* Lebar bilah scroll */
}

::-webkit-scrollbar-track {
	background: #131313;
	/* Warna latar belakang untuk track (area di sekitar bilah scroll) */
}

::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	/* Warna latar belakang untuk thumb (bagian aktif bilah scroll) */
	border-radius: 5px;
	/* Radius sudut untuk thumb */
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
	/* Warna latar belakang untuk thumb saat dihover */
}


*:focus {
	outline: 0;
}

/* Primary Style
--------------------------------*/
.main {
	max-width: 110rem;
	margin: 0 auto;
	padding: 0 2rem;
}


.header-h1 {
	font-size: 35px;
	font-weight: bolder;
	margin: 50px 0px;
	font-family: 'Fjalla One', sans-serif;
}
.container-hid {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	margin-top: 20px;
	font-family: 'Fjalla One', sans-serif;
  }
  
  .left {
	text-align: left;
  }

  .left h1 {
	margin-bottom: 10px;
  }

  .left p {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
  }
  
  .right {
	text-align: right;
  }

  .headpot {
	margin: 20px 0px;
  }

  .headpot img {
	width: 100%;
	height: 200px;
	filter: grayscale(500%);
	object-fit: cover;
  }



  .container-tech {
    display: flex;
    align-items: center;
    justify-content: center;
}

.teacher-image {
    margin-right: 20px;
	filter: grayscale(500%);
	object-fit: cover;
	width:180px;
	height: 230px;
}



.quote {
    flex: 1;
}

blockquote p {
    font-size: 12px;
    line-height: 1.3;
	margin-top: 10px;
}

blockquote cite {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

/* Gaya input */
input[type="text"] {
	padding: 10px;
	border: none;
	background-color: #e9e9e9;
	color: #333;
	font-size: 16px;

	margin: 20px 0px;
}

/* Gaya placeholder */
::placeholder {
	color: #999;
}

/* Gaya input saat dalam fokus */
input[type="text"]:focus {
	outline: none;
}

.container-cd {
	margin: 20px;
}

.set-1 {
	display: flex;
	align-items: center;
	justify-content: center;

}

.grid-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	/*grid-template-columns: repeat(auto-fill, minmax(200px 1fr));*/
	grid-gap: 20px;
}

.card {

	text-align: center;
	cursor: pointer;
	padding: 10px;
	background-color: #e9e9e9;
	flex: 1 1 200px;
}



.card h2 {
	font-size: 15px;
	margin: 10px 0px;
	font-weight: 600;
}

.card p {
	font-size: 12px;
	opacity: 60%;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
}

.modal-content {
	background-color: #ffffff;
	padding: 50px;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-weight: 100;
	font-size: 15px;

}

.modal-content button {
	background-color: #888;
	padding: 20px;
}



.profile-image {
	filter: grayscale(500%);
	width: 150px;
	height: 190px;
	object-fit: cover;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card :hover {
	filter: grayscale(0%);
	transition: all 0.35s;
}







.container-tnd {
	position: sticky;
	top: 20%;
}

.section-kta p {
	text-align: center;
	font-family: 'Poppins', Helvetica, sans-serif;
}



.absen {
	position: absolute;
	top: 20%;
	z-index: 1;
}

.absen h1 {
	font-size: 90px;
	opacity: 20%;
	font-style: italic;

}

.absen-right {
	position: absolute;
	top: 20%;
	z-index: 1;
	right: 10%;
}

.absen-right h1 {
	font-size: 90px;
	opacity: 20%;
	font-style: italic;
}

hr {
	margin: 50px 0px;
	border: none;
	border-top: 0.3px solid #888;

}

.bubble-chat {
	display: flex;
	align-items: flex-start;
	/* Menggeser ke atas */
	align-self: flex-start;
	/* Menggeser ke atas */
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 8px;
}


#bubbleChatContainerLeft {
	display: flex;
	align-items: center;
	background-color: #e9e9e9;
	padding-top: 5px;
	max-width: 500px;
	margin-bottom: 10px;
}

#bubbleChatContainerRight {
	display: flex;
	align-items: center;
	background-color: #e9e9e9;
	max-width: 500px;
	padding-top: 5px;
}

.profile-bubble img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	object-fit: cover;
}

.bubble-content h2 {
	font-size: 16px;
	margin-bottom: 5px;
}

.bubble-content p {
	margin: 0;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

section {
	margin-top: 50px;
}

.container-budi {
	position: relative;
	flex-grow: 1;
	margin: auto;
	max-width: 1200px;
	max-height: 1200px;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 2vmin;
	justify-items: center;
	align-items: center;

}

.container-budi img {
	filter: grayscale(500%);
	z-index: 1;
	grid-column: span 2;
	max-width: 100%;
	margin-bottom: -52%;
	-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	-webkit-transform: scale(1);
	transform: scale(1);
	transition: all .25s;
}

.container-budi img:nth-child(7n + 1) {
	grid-column: 2 / span 2;
}

.container-budi img:hover {
	filter: grayscale(0%);
	z-index: 2;
	-webkit-transform: scale(1);
	transform: scale(1.1);
}

.container {
	display: flex;
	justify-content: center;
}

.left-section {
	width: 30%;
	padding: 20px;
	text-align: center;

}

.left-section img {
	width: 100%;
	margin-bottom: 20px;
}

.contact-info {
	text-align: left;
}

.quote {
	margin: 50px 0px;
}

.left-section h3 {
	margin-bottom: 20px;
	font-family: 'Open Sans', serif;
}

.right-section h2 {
	font-family: 'Open Sans', serif;
	font-size: 30px;
	margin-bottom: 20px;
}

.left-section ul {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}

.left-section ul li {
	margin-bottom: 10px;
}

.social-media a {
	display: inline-block;
	margin-right: 10px;
	margin-top: 20px 0px;
	color: #ffffff;
	font-size: 20px;
}

.right-section {
	width: 60%;
	padding: 20px;
}

.right-section h1 {
	margin-top: 0;
}

.right-section h3 {
	margin-top: 20px;
}

.right-section p {
	line-height: 1.5;
	color: #999;
}

.right-section strong {
	color: #131313;
}




@media screen and (max-width: 767px) {
	.container {
		flex-direction: column;
		align-items: center;
	}

	.left-section {
		width: 100%;
		margin-bottom: 20px;
	}

	.right-section {
		width: 100%;
	}

	.image {
		width: 100%;
	}

	.content {
		padding-right: 2rem;
	}

	nav {
		left: 0;
		right: auto;
	}

	.reseume {
		width: 10%;
		margin: 0px;
	}

	.grid-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.absen {
		display: none;
	}

	.absen-right {
		display: none;
	}

	.header-h1 {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.modal-content {
		margin: 0px;
	}
}