@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
	box-sizing: border-box;
}

html {
	font-size: calc(4px + 0.45vw);
	scroll-behavior: smooth;
}


body {
	font-family: 'Montserrat', sans-serif;
	color: #131313;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
}



*:focus {
	outline: 0;
}

/* Primary Style
--------------------------------*/
.main {
	max-width: 110rem;
	margin: 0 auto;
	padding: 0 2rem;
}


.header-h1 {
	font-size: 35px;
	font-weight: bolder;
	margin: 50px 0px;
	font-family: 'Fjalla One', sans-serif;
}

.container-hid {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	margin-top: 20px;
	font-family: 'Fjalla One', sans-serif;
}

.left-hid {
	text-align: left;
}

.left-hid h1 {
	margin-bottom: 10px;
}

.left-hid p {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

.right-hid {
	text-align: right;
}

.headpot {
	margin: 20px 0px;
}

.headpot img {
	width: 100%;
	height: 200px;
	filter: grayscale(500%);
	object-fit: cover;
}



.container-tech {
	display: flex;
	align-items: center;
	justify-content: center;
}

.teacher-image {
	margin-right: 20px;
	filter: grayscale(500%);
	object-fit: cover;
	width: 180px;
	height: 230px;
}



.quote {
	flex: 1;
}

blockquote p {
	font-size: 12px;
	line-height: 1.3;
	margin-top: 10px;
}

blockquote cite {
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	display: block;
}

/* Gaya input */
input[type="text"] {
	padding: 10px;
	border: none;
	background-color: #e9e9e9;
	color: #333;
	font-size: 16px;

	margin: 20px 0px;
}

/* Gaya placeholder */
::placeholder {
	color: #999;
}

/* Gaya input saat dalam fokus */
input[type="text"]:focus {
	outline: none;
}

.container-cd {
	margin: 20px;
}

.set-1 {
	display: flex;
	align-items: center;
	justify-content: center;

}

.grid-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	/*grid-template-columns: repeat(auto-fill, minmax(200px 1fr));*/
	grid-gap: 20px;
}

.card {
	font-family: 'Open sans', sans-serif;
	text-align: center;
	cursor: pointer;
	padding: 20px 10px;
	background-color: #e9e9e9;
	flex: 1 1 200px;
}



.card h2 {
	font-size: 15px;
	margin: 10px 0px;
	font-weight: 600;
}

.card p {
	font-size: 11px;
	opacity: 60%;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
}

.modal-content {
	background-color: #ffffff;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	top: 0;
	bottom: 0;
	position: absolute;
}

.modal-content button {
	background-color: #888;
	padding: 20px;
}

.close {
	position: relative;
	bottom: -20px;
	margin: 20px;
	z-index: 9;
}



.profile-image {
	filter: grayscale(500%);
	width: 150px;
	height: 190px;
	object-fit: cover;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card :hover {
	filter: grayscale(0%);
	transition: all 0.35s;
}




.resume {
	font-family: Arial, sans-serif;
	margin: auto;
	background-color: #f9f9f9;
  }

  .header {
	text-align: center;
	margin-bottom: 20px;
	position: relative;
	top: -50px;
  }
  .banner {

  }

  .banner-pic {
	width: 100%;
	height: 100px;
	object-fit: cover;
	opacity: 20%;
  }

  .profile-pic {
	width: 150px;
	height: 190px;
	object-fit: cover;
	margin-bottom: 10px;
	border: 5px solid #ffffff;
  }

  .name {
	font-size: 24px;
	font-weight: bold;
  }

  .contact-info {
	margin-bottom: 20px;
  }

  .section {
	margin-bottom: 20px;
  }

  .section h2 {
	margin: 0px 24px;
	border-bottom: 1px solid #555;
	padding-bottom: 5px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
  }

  .section p {
	margin: 8px 24px;
  }

  .education,
  .experience,
  .achievements,
  .activities {
	margin-left: 20px;
  }


.container-tnd {
	position: sticky;
	top: 20%;
}

.section-kta p {
	text-align: center;
	font-family: 'Poppins', Helvetica, sans-serif;
}



.absen {
	position: absolute;
	top: 20%;
	z-index: 1;
}

.absen h1 {
	font-size: 90px;
	opacity: 20%;
	font-style: italic;

}

.absen-right {
	position: absolute;
	top: 20%;
	z-index: 1;
	right: 10%;
}

.absen-right h1 {
	font-size: 90px;
	opacity: 20%;
	font-style: italic;
}

hr {
	margin: 50px 0px;
	border: none;
	border-top: 0.3px solid #888;

}

.bubble-chat {
	display: flex;
	align-items: flex-start;
	/* Menggeser ke atas */
	align-self: flex-start;
	/* Menggeser ke atas */
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 8px;
	filter: grayscale(500%);
}


.bubble-chat:hover {
	filter: grayscale(0%);
}

#bubbleChatContainerLeft {
	display: flex;
	align-items: center;
	background-color: #e9e9e9;
	padding-top: 5px;
	max-width: 500px;
	margin-bottom: 10px;
}

#bubbleChatContainerRight {
	display: flex;
	align-items: center;
	background-color: #e9e9e9;
	max-width: 500px;
	padding-top: 5px;
}

.profile-bubble img {
	width: 40px;
	height: aut0;
	margin-right: 10px;
	object-fit: cover;
}

.bubble-content h2 {
	font-size: 16px;
	margin-bottom: 5px;
}

.bubble-content p {
	margin: 0;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

section {
	margin-top: 50px;
}

.container-budi {
	position: relative;
	flex-grow: 1;
	margin: auto;
	max-width: 1200px;
	max-height: 1200px;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 2vmin;
	justify-items: center;
	align-items: center;

}

.container-budi img {
	filter: grayscale(500%);
	z-index: 1;
	grid-column: span 2;
	max-width: 100%;
	margin-bottom: -52%;
	-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	-webkit-transform: scale(1);
	transform: scale(1);
	transition: all .25s;
}

.container-budi img:nth-child(7n + 1) {
	grid-column: 2 / span 2;
}

.container-budi img:hover {
	filter: grayscale(0%);
	z-index: 2;
	-webkit-transform: scale(1);
	transform: scale(1.1);
}





@media screen and (max-width: 767px) {
	.container {
		flex-direction: column;
		align-items: center;
	}
	nav {
		left: 0;
		right: auto;
	}
	.resume {
		max-width: 750px;
	}

	.grid-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.absen {
		display: none;
	}

	.absen-right {
		display: none;
	}

	.header-h1 {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.modal-content {
		margin: 0px;
	}
}

























.tick-tock {
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	position: fixed;
	margin-top: -100px;
	margin-left: -100px;
	font-family: monospace;
	opacity: 50%;
}

.tick-tock:before,
.tick-tock:after {
	color: #333;
	position: absolute;
	width: 30px;
	left: 50%;
	margin-left: -15px;
	font-size: 24px;
	text-align: center
}

.tick-tock:before {
	content: '';
	top: -48px
}

.tick-tock:after {
	content: 'M I P A';
	top: 50px;
	line-height: 24px
}

.tick-tock>.text {
	color: #888;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

.tick-tock>.text>i {
	position: absolute;
	height: 250px;
	width: 30px;
	top: 50%;
	margin-top: -125px;
	left: 50%;
	margin-left: -15px;
	font-style: normal
}

.tick-tock>.text>i:before,
.tick-tock>.text>i:after {
	position: inherit;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 24px
}

.tick-tock>.text>i:before {
	top: 0
}

.tick-tock>.text>i:after {
	bottom: 0
}

.tick-tock>.text>i:nth-child(even):after,
.tick-tock>.text>i:nth-child(even):before {
	content: '5'
}

.tick-tock>.text>i:nth-child(odd):after,
.tick-tock>.text>i:nth-child(odd):before {
	content: '5'
}

.tick-tock>.text>i:nth-child(2) {
	transform: rotate(-30deg)
}

.tick-tock>.text>i:nth-child(3) {
	transform: rotate(120deg)
}

.tick-tock>.text>i:nth-child(4) {
	transform: rotate(90deg)
}

.tick-tock>.text>i:nth-child(5) {
	transform: rotate(-120deg)
}

.tick-tock>.text>i:nth-child(6) {
	transform: rotate(30deg)
}

/* Animation */
.tick-tock>.text {
	animation: tick-tock 12s infinite
}

@keyframes tick-tock {

	0%,
	4.1667% {
		transform: rotate(0)
	}

	8.3333%,
	12.5000% {
		transform: rotate(30deg)
	}

	16.6667%,
	20.8333% {
		transform: rotate(60deg)
	}

	25.0000%,
	29.1667% {
		transform: rotate(90deg)
	}

	33.3333%,
	37.5000% {
		transform: rotate(120deg)
	}

	41.6667%,
	45.8333% {
		transform: rotate(150deg)
	}

	50.0000%,
	54.1667% {
		transform: rotate(180deg)
	}

	58.3333%,
	62.5000% {
		transform: rotate(210deg)
	}

	66.6667%,
	70.8333% {
		transform: rotate(240deg)
	}

	75.0000%,
	79.1667% {
		transform: rotate(270deg)
	}

	83.3333%,
	87.5000% {
		transform: rotate(300deg)
	}

	91.6667%,
	95.8333% {
		transform: rotate(330deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

.tick-tock>.text>i:nth-child(1):before {
	animation: text_1 12s infinite
}

.tick-tock>.text>i:nth-child(2):before {
	animation: text_2 12s infinite
}

.tick-tock>.text>i:nth-child(3):after {
	animation: text_3 12s infinite
}

.tick-tock>.text>i:nth-child(4):after {
	animation: text_4 12s infinite
}

.tick-tock>.text>i:nth-child(5):before {
	animation: text_5 12s infinite
}

.tick-tock>.text>i:nth-child(6):after {
	animation: text_6 12s infinite
}

.tick-tock>.text>i:nth-child(1):after {
	animation: text_7 12s infinite
}

.tick-tock>.text>i:nth-child(2):after {
	animation: text_8 12s infinite
}

.tick-tock>.text>i:nth-child(3):before {
	animation: text_9 12s infinite
}

.tick-tock>.text>i:nth-child(4):before {
	animation: text_10 12s infinite
}

.tick-tock>.text>i:nth-child(5):after {
	animation: text_11 12s infinite
}

.tick-tock>.text>i:nth-child(6):before {
	animation: text_12 12s infinite
}

@keyframes text_1 {

	0%,
	4.1667% {
		color: #333
	}

	4.17%,
	100% {
		color: #888
	}
}

@keyframes text_2 {

	8.3333%,
	12.5000% {
		color: #333
	}

	0%,
	8.32%,
	12.51%,
	100% {
		color: #888
	}
}

@keyframes text_3 {

	16.6667%,
	20.8333% {
		color: #333
	}

	0%,
	16.66%,
	20.84%,
	100% {
		color: #888
	}
}

@keyframes text_4 {

	25.0000%,
	29.1667% {
		color: #333
	}

	0%,
	24.99%,
	29.17%,
	100% {
		color: #888
	}
}

@keyframes text_5 {

	33.3333%,
	37.5000% {
		color: #333
	}

	0%,
	33.32%,
	37.51%,
	100% {
		color: #888
	}
}

@keyframes text_6 {

	41.6667%,
	45.8333% {
		color: #333
	}

	0%,
	41.65%,
	45.84%,
	100% {
		color: #888
	}
}

@keyframes text_7 {

	50.0000%,
	54.1667% {
		color: #333
	}

	0%,
	49.99%,
	54.17%,
	100% {
		color: #888
	}
}

@keyframes text_8 {

	58.3333%,
	62.5000% {
		color: #333
	}

	0%,
	58.32%,
	62.51%,
	100% {
		color: #888
	}
}

@keyframes text_9 {

	66.6667%,
	70.8333% {
		color: #333
	}

	0%,
	66.65%,
	70.84%,
	100% {
		color: #888
	}
}

@keyframes text_10 {

	75.0000%,
	79.1667% {
		color: #333
	}

	0%,
	74.99%,
	79.16%,
	100% {
		color: #888
	}
}

@keyframes text_11 {

	83.3333%,
	87.5000% {
		color: #333
	}

	0%,
	83.32%,
	87.51%,
	100% {
		color: #888
	}
}

@keyframes text_12 {

	91.6667%,
	95.8333% {
		color: #333
	}

	0%,
	91.65%,
	95.84%,
	100% {
		color: #888
	}
}