@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	box-sizing: border-box;
}

html {
	font-size: calc(4px + 0.45vw);
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	background-color: #080808;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
}

/* Gaya untuk bilah scroll vertikal */
::-webkit-scrollbar {
	width: 10px;
	/* Lebar bilah scroll */
}

::-webkit-scrollbar-track {
	background: #131313;
	/* Warna latar belakang untuk track (area di sekitar bilah scroll) */
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	/* Warna latar belakang untuk thumb (bagian aktif bilah scroll) */
	border-radius: 5px;
	/* Radius sudut untuk thumb */
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
	/* Warna latar belakang untuk thumb saat dihover */
}


*:focus {
	outline: 0;
}

/* Primary Style
--------------------------------*/
.main {
	max-width: 110rem;
	margin: 0 auto;
	padding: 0 2rem;
}

header {
	line-height: 12rem;
	height: 12rem;
}

header h1 {
	font-size: 2.5rem;
	font-family: 'Oswald', sans-serif;
}

.header-h1 {
	font-size: 35px;
	margin: 50px 0px;
}

.container-typing {
	display: flex;
	align-items: center;
	justify-content: center;
}

.heading-typing {
	color: #eee;
	font-size: 3rem;
	text-transform: uppercase;
}

header ul::after {
	content: '';
	display: table;
	clear: both;
}

header li {
	float: left;
	width: 12.5%;
	text-align: center;
	text-transform: uppercase;
}

header li:nth-child(4) {
	width: 25%;
}

header li a {
	font-weight: 900;
	font-size: 1.2rem;
	letter-spacing: 2px;
}

.text {
	font-size: 2rem;
	padding: 2rem 0;
	-moz-columns: 3;
	columns: 3;
}

.text p {
	margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
	header ul li:not(:nth-child(4)) {
		display: none;
	}

	header ul li:nth-child(4) {
		width: 100%;
	}
}

/* Slider Style
--------------------------------------*/
.cd-slider {
	position: relative;
	width: 100%;
	height: 50rem;
	overflow: hidden;
	margin-bottom: 8rem;
}

.cd-slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: visibility 0s 1s;
	will-change: visibility;
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	clip: rect(0, 80rem, 50rem, 80rem);
	transition: clip .5s cubic-bezier(0.99, 0.01, 0.45, 0.9) .5s;
	will-change: clip;
	filter: grayscale(500%);
}

.content {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	padding: 2rem 0 0 2rem;
	font-size: 9rem;
	text-align: right;
}

.content h2 {
	text-overflow: ellipsis;
	overflow: hidden;
	transform: translateY(-30%);
	opacity: 0;
	transition: transform .5s, opacity .5s;
	will-change: transform, opacity;
}

.content a {
	color: #080808;
	display: inline-block;
	font-size: 2rem;
	text-transform: lowercase;
	padding: 1.5rem;
	opacity: 0;
	transform: translateY(-100%);
	transition: transform .5s .1s, opacity .5s .1s;
	will-change: transform, opacity;
	background-color: #f2f2f2;
}

/* Current Slide 
-------------------------------------*/
li.current {
	visibility: visible;
	transition-delay: 0s;
}

li.current .image {
	clip: rect(0, 80rem, 50rem, 0);
}

li.current .content h2 {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 1s;
}

li.current .content a {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 1.1s;
}

/* Prev Slide 
------------------------------------*/
li.prev_slide .image {
	clip: rect(0, 0, 50rem, 0);
}

nav {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #080808;
	z-index: 2;
}

.prev,
.next,
.counter {
	vertical-align: middle;
}

.prev,
.next {
	position: relative;
	display: inline-block;
	height: 5rem;
	width: 5rem;
	border: 0;
	cursor: pointer;
	background: transparent;
}

.prev::before,
.next::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	border: .8rem solid transparent;
	border-right-width: 1rem;
	border-right-color: #ffffff;
	border-left-width: 0;
	width: 0;
	height: 0;
}

.prev::after,
.next::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateZ(0);
	left: .5rem;
	background: #ffffff;
	height: .1rem;
	min-height: 1px;
	width: 2.5rem;
	transition: width .3s;
}

.next::before {
	right: 0;
	left: auto;
	border-left-width: 1rem;
	border-left-color: #ffffff;
	border-right-width: 0;
}

.next::after {
	right: .5rem;
	left: auto;
}

.counter {
	display: inline-block;
	font-size: 4rem;
	font-family: serif;
	font-style: italic;
}

.counter span:last-child::before {
	content: '/';
	margin: 0 1rem;
}

.prev:hover::after,
.next:hover::after {
	width: 3.5rem;
}


.wrapper {
	width: 100%;
	padding: 0 2rem;
	text-align: center;
}

.wrapper h1 {
	font-size: 4rem;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	margin: 30px 0px;

}

.polaroid {
	background: #131313;
	padding: 1rem;
	color: #ffffff;
	font-weight: 400;
}

.polaroid>img {
	max-width: 100%;
	height: auto;
}

.caption {
	font-size: 1.8rem;
	text-align: center;
	line-height: 2em;
}

.item {
	width: 30%;
	display: inline-block;
	margin-top: 2rem;
	filter: grayscale(100%);
}

.item2 {
	transform: scale(0.8, 0.8) rotate(5deg);
	transition: all 0.35s;
}


.item:hover {
	filter: none;
	transform: scale(1, 1) rotate(0deg) !important;
	transition: all 0.35s;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}




/* Gaya input */
input[type="text"] {
	padding: 10px;
	border: none;
	background-color: #131313;
	color: #333;
	font-size: 16px;
	width: 300px;
	max-width: 100%;
	margin: 20px;
}

/* Gaya placeholder */
::placeholder {
	color: #999;
}

/* Gaya input saat dalam fokus */
input[type="text"]:focus {
	outline: none;
}

.container-cd {
	margin: 20px;
}

.set {
	display: flex;
	align-items: center;
	justify-content: center;

}

.grid-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	/*grid-template-columns: repeat(auto-fill, minmax(200px 1fr));*/
	grid-gap: 20px;
}

.card {

	text-align: center;
	cursor: pointer;

	padding: 10px;
	background-color: #131313;
	flex: 1 1 200px;
}



.card h2 {
	font-size: 15px;
	margin: 10px 0px;
	font-weight: 600;
}

.card p {
	font-size: 12px;
	opacity: 60%;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
}

.modal-content {
	background-color: #080808;
	padding: 50px;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-weight: 100;
	font-size: 15px;

}

.modal-content button {
	background-color: #888;
}



.profile-image {
	filter: grayscale(500%);
	width: 150px;
	height: 190px;
	object-fit: cover;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card :hover {
	filter: grayscale(0%);
	transition: all 0.35s;
}







.resume {
	margin: 0 auto;
	line-height: 1.2;
	max-width: 500px;
}

.resume h1,
.resume h2 {
	text-align: left_side;
}

.resume h2 {
	margin: 10px 0px;
	font-size: 20px;
}

.resume .profile-pic {
	text-align: center;
	margin-bottom: 30px;
	z-index: 2;
	position: relative;
}

.resume .profile-pic img {
	width: 250px;
	height: 300px;
}

.resume .section {
	margin-bottom: 30px;
}

.resume .section h3 {
	margin-bottom: 10px;
}

.resume strong {
	color: #ffffff;
	font-weight: bold;
}

.resume .section p {
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	color: #dadada;
}


.container-tnd {
	position: sticky;
	top: 20%;
}

.section-kta p {
	text-align: center;
	font-family: 'Poppins', Helvetica, sans-serif;
}



.absen {
	position: absolute;
	top: 20%;
	z-index: 1;
}

.absen h1 {
	font-size: 90px;
	opacity: 20%;
	font-style: italic;

}

.absen-right {
	position: absolute;
	top: 20%;
	z-index: 1;
	right: 10%;
}

.absen-right h1 {
	font-size: 90px;
	opacity: 20%;
	font-style: italic;
}

hr {
	margin: 20px 0px;
}

.bubble-chat {
	display: flex;
	align-items: flex-start;
	/* Menggeser ke atas */
	align-self: flex-start;
	/* Menggeser ke atas */
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 8px;
}


#bubbleChatContainerLeft {
	display: flex;
	align-items: center;
	background-color: #131313;
	padding-top: 5px;
	max-width: 500px;
	margin-bottom: 10px;
	-webkit-border-radius: 50px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 50px;
	-moz-border-radius-topleft: 0;
	border-radius: 50px;
	border-top-left-radius: 0;
}

#bubbleChatContainerRight {
	display: flex;
	align-items: center;
	background-color: #333;
	max-width: 500px;
	padding-top: 5px;
	-webkit-border-radius: 50px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 50px;
	-moz-border-radius-topleft: 0;
	border-radius: 50px;
	border-top-left-radius: 0;
}

.profile-pic img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.bubble-content h2 {
	font-size: 16px;
	margin-bottom: 5px;
}

.bubble-content p {
	margin: 0;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}


  
  .container-budi {
	position: relative;
	flex-grow: 1;
	margin: auto;
	max-width: 1200px;
	max-height: 1200px;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 2vmin;
	justify-items: center;
	align-items: center;
	
  }
  
  .container-budi img{
	filter: grayscale(500%);
	z-index: 1;
	grid-column: span 2;
	max-width: 100%;
	margin-bottom: -52%;
	-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
			clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	-webkit-transform: scale(1);
			transform: scale(1);
	transition: all .25s;
  }
  .container-budi img:nth-child(7n + 1) {
	grid-column: 2 / span 2;
  }
  .container-budi img:hover {
	filter: grayscale(0%);
	z-index: 2;
	-webkit-transform: scale(1);
			transform: scale(1.1);
  }

@media screen and (max-width: 767px) {
	.image {
		width: 100%;
	}

	.content {
		padding-right: 2rem;
	}

	nav {
		left: 0;
		right: auto;
	}

	.reseume {
		width: 10%;
		margin: 0px;
	}

	.grid-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.absen {
		display: none;
	}

	.absen-right {
		display: none;
	}

	.header-h1 {
		font-size: 20px;
		margin-bottom: 20px;
	}
}